<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Dota 2 Market Parser</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', path='css/style.css') }}"
    >
</head>

<body>

<div class="container">

    <h1>Dota 2 Market Parser</h1>

    <p class="subtitle">
        Поиск предметов по названию, качеству,
        описанию и гемам
    </p>


    <div class="search-form">

        <label for="item-name">
            Название предмета
        </label>

        <input
            id="item-name"
            type="text"
            placeholder="Например: Fractal Horns of Inner Abysm"
        >


        <label>
            Качество
        </label>

        <div class="quality-selector">

            <button
                type="button"
                id="quality-button"
                class="quality-button"
            >

                <span id="quality-button-text">
                    Все качества
                </span>

                <span class="quality-arrow">
                    ▼
                </span>

            </button>


            <div
                id="quality-dropdown"
                class="quality-dropdown"
            >

                <label class="quality-option">

                    <input
                        type="checkbox"
                        name="quality"
                        value="all"
                        checked
                    >

                    <span>
                        Все
                    </span>

                </label>


                <label class="quality-option">

                    <input
                        type="checkbox"
                        name="quality"
                        value="normal"
                    >

                    <span>
                        Обычный
                    </span>

                </label>


                <label class="quality-option">

                    <input
                        type="checkbox"
                        name="quality"
                        value="exalted"
                    >

                    <span>
                        Exalted
                    </span>

                </label>


                <label class="quality-option">

                    <input
                        type="checkbox"
                        name="quality"
                        value="inscribed"
                    >

                    <span>
                        Inscribed
                    </span>

                </label>


                <label class="quality-option">

                    <input
                        type="checkbox"
                        name="quality"
                        value="autographed"
                    >

                    <span>
                        Autographed
                    </span>

                </label>


                <label class="quality-option">

                    <input
                        type="checkbox"
                        name="quality"
                        value="heroic"
                    >

                    <span>
                        Heroic
                    </span>

                </label>


                <label class="quality-option">

                    <input
                        type="checkbox"
                        name="quality"
                        value="corrupted"
                    >

                    <span>
                        Corrupted
                    </span>

                </label>

            </div>

        </div>


        <label for="description">
            Описание
        </label>

        <input
            id="description"
            type="text"
            placeholder="Например: Tnim S'nnam"
        >


        <label class="gem-mode-option">

            <input
                id="gem-mode"
                type="checkbox"
            >

            <span>
                Все гемы
            </span>

        </label>

        <div class="gem-mode-description">
            При включении этого режима описание
            вводить не нужно. Система один раз
            загрузит предметы и покажет количество
            предметов с каждым найденным гемом.
        </div>


        <button
            id="search-button"
            type="button"
        >
            Найти
        </button>

    </div>


    <div id="results">

        <div class="message">
            Результаты поиска появятся здесь.
        </div>

    </div>

</div>


<script
    src="{{ url_for('static', path='js/app.js') }}"
></script>

</body>

</html>